* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  transition: all .3s;
}

:root {
  --hue: 266;
  --primary: hsl(var(--hue), 80%, 60%);
  --primaryDark: hsla(var(--hue), 100%, 9%);
  --primarylight: hsla(var(--hue), 100%, 9%, 0.8);
  --primaryHover: hsl(calc(var(--hue) + 10), 80%, 45%);
  --backgroundColor: hsl(0, 0%, 90%);
  --robotoMono: 'Roboto Mono', monospace;
}

*.darkTheme {
  --primary: hsl(var(--hue), 80%, 40%);
  --primaryDark: hsla(var(--hue), 60%, 90%);
  --primarylight: hsla(var(--hue), 60%, 90%, 0.8);
  --primaryHover: hsl(var(--hue), 80%, 55%);
  --backgroundColor: hsl(252, 23%, 9%);
}

#toggleButton {
  width: 90vw;
  margin-bottom: 3rem;
  display: flex;
  justify-content: right;
}

#toggleInput {
  display: none;
}

#toggleLabel {
  cursor: pointer;

  display: flex;

  width: 50px;
  height: 30px;
  padding: 5px;

  border-radius: 40px;
  background-color: #777;
}

.slider {
  width: 20px;
  height: 20px;

  border-radius: 100px;
  transition: all .3s ease-in-out;
  background-color: white;
}

#toggleInput:checked ~ #toggleLabel {
  background-color: var(--primary);
}

#toggleInput:checked ~ #toggleLabel .slider{
  transform: translateX(20px);
}



body {
  min-height: 100vh;
  padding: 3.5rem 0;
  background-color: var(--backgroundColor);
  
  text-align: center;
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#userAvatar {
  cursor: pointer;

  display: block;
  margin: 0 auto;
  width: 100px;

  border: 4px solid var(--primary);
  border-radius: 100px;

  padding: 4px;
  box-sizing: content-box;
  background-color: var(--backgroundColor);
  margin-bottom: 14px;
}

#userName {
  color: var(--primaryDark);
  
  font-size: 32px;
  margin-bottom: 8px;
}

#userTag {
  color: var(--primarylight);
  font-size: 18px;
  font-family: var(--robotoMono);

  margin-bottom: 48px;
}

.linksList {
  list-style: none;
  margin-bottom: 32px;
}

.linksList .linkButton {
  width: 300px;
  height: 60px;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  margin-bottom: 16px;
  background-color: var(--primary);

  transition: background-color .2s;
}

.linksList .linkButton:hover {
  background-color: var(--primaryHover);
}

footer {
  color: var(--primarylight);
  font-size: 12px;
  font-weight: 500;
}