:root {
  --backgroundColor: #edf2ff;
  --primaryColor: #4263eb;
  --primaryColorHover: #364fc7;
  --primaryColorDark: #00082e;
  --primaryColorMediunDark: #00082f;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --backgroundColor: #1f212b;
    --primaryColorDark: #edf2ff;
    --primaryColor: #4264eb88;
    --primaryColorHover: #364ec765;
    --primaryColorMediunDark: #edf2ff;
  }
}
