:root {
  --backgroundColor: #edf2ff;
  --primaryColor: #4263eb;
  --primaryColorHover: #364fc7;
  --primaryColorDark: #00082e;
  --primaryColorMediunDark: #00082f;
}

@media (prefers-color-scheme: dark) {
  body {
    --backgroundColor: #1d2021;
    --primaryColorDark: #edf2ff;
    --primaryColor: #4264ebb0;
    --primaryColorHover: #364ec7a4;
    --primaryColorMediunDark: #edf2ff;
  }
}
